extends layout

block content
    .container
        h1 Users
        table(border="1")
            tr
                th ID
                th Email
            each user in users
                tr
                    td: a(href=`/user/${user.id}`) #{user.id}
                    td #{user.email}